body {
  margin: 0;
  font-family: Tahoma, Arial;
  background: #f2f2f2;
}

header {
  background: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.price {
  color: green;
  font-weight: bold;
}

button {
  background: #25D366;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #1ebc59;
}

footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 10px;
}
